{
	"root": true,
  "extends": [
		"airbnb-base",
		"plugin:react-hooks/recommended"
	],
  "parserOptions": {
    "ecmaVersion": 2020
  },
	"rules": {
		"new-cap": [
			2,
			{
				"capIsNewExceptions": [
					"MutableData",
					"nodecg.Replicant",
					"NodeCG.Replicant",
					"t.context.apis.extension.Replicant",
					"window.dashboardApi.Replicant"
				]
			}
		]
	}
}
