
body {
	margin: 0;
	background-color: #00ff00;
}

.nowPlaying {
	position: absolute;
	top: 680px;
	left: 25px;
}

.container {
	position: absolute;
	width: 1920px;
	height: 1080px;
	overflow: hidden;
  font-family: "puffin-display", sans-serif;
  font-weight: 400;
  font-style: normal;
}